---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import img05 from "../assets/img-05.jpg";
import { Image } from "astro:assets";
import img06 from "../assets/img-06.webp";
---

<Layout title="MTNT">
  <div class="wrapper">
    <Navbar />
    <header class="about_header flex-center column">
      <Image class="img-about-header" src={img05} alt="534543'-4#" />
      <div class="header_about-container">
        <h2>More than 10 years of experience in trekking.</h2>
        <p>
          More than 10 years of experience endorse us in the field of safety for
          adventures. Embark on an adventure and enjoy an optimal experience for
          a lifetime, exploring places known by our experts.
        </p>
      </div>
      <button class="btn_scrolldown">
        <Image
          loading="lazy"
          width="40"
          height="40"
          src="https://img.icons8.com/ios/ffebb2/long-arrow-down.png"
          alt="long-arrow-down"
        />
      </button>
    </header>
    <main class="about_container flex-center column">
      <h1>
        <div class="line"></div>
        Our passion for trekking.
      </h1>
      <section class="about_content">
        <aside class="about_descrption">
          <h2></h2>
        </aside>
        <aside class="about_imagees"></aside>
      </section>
    </main>
    <Footer />
  </div>
</Layout>

<style>
  .about_header {
    position: relative;
    width: 95%;
    height: 100svh;
    margin: 0 auto;
    gap: 2rem;
  }

  .img-about-header {
    margin-top: 15rem;
    object-fit: cover;
    width: 95%;
    max-width: 120rem;
    height: 80rem;
    border-radius: 0.6rem;
    display: none;
  }

  .header_about-container {
    padding: 2rem;
    background-color: var(--black);
    border: 2px dotted var(--orange);
    border-radius: 0.6rem;
    max-width: 70rem;
    width: 100%;
    margin-top: 8rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .header_about-container h2 {
    font-size: 2.5rem;
    line-height: 4rem;
    color: var(--orange);
    font-weight: 900;
  }

  .header_about-container p {
    color: var(--white);
    line-height: 4rem;
    font-size: 1.6rem;
  }

  .btn_scrolldown {
    width: 9rem;
    height: 9rem;
    border-radius: 0.4rem;
    background-color: var(--orange);
  }

  .about_container {
    margin-top: 10rem;
    gap: 2rem;
  }

  .about_container h1 {
    font-size: 4.5rem;
    text-align: center;
    color: var(--orange);
  }

  .about_content {
    width: 95%;
  }

  @media (min-width: 600px) {
  
    .btn_scrolldown{
      position: absolute;
      bottom: -5rem;
    }

    .header_about-container {
      position: absolute;
      top: 2rem;
    }
    .img-about-header {
      display: block;
    }
  }

  @media (min-width: 900px) {
    .about_header {
      margin: 0 auto;
      align-items: end;
      width: 85%;
    }

    .img-about-header {
      width: 90%;
    }

    .header_about-container {
      top: 4rem;
      left: 10rem;
    }

    .header_about-container h2 {
      line-height: 8rem;
      font-size: 6rem;
    }

    .header_about-container p {
      font-size: 1.8rem;

    }

    .btn_scrolldown {
      bottom: -3rem;
      right: 2rem;
    }

    .about_container h1 {
      font-size: 6vw;
    }
  }
</style>
