---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="MTNT">
	<div class="wrapper">
		<Navbar/>
        <div>
            ABOUT
        </div>
		<Footer/>
	</div>
</Layout>