---
import { Image } from "astro:assets";
---

<nav class="navbar flex-center column">
  <div class="navbar_container-1">
    <a href="/">
      <Image
      loading="lazy"
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/fafafa/mountain.png"
      alt="mon-423-e$%@c"
    />
    </a>
    
    <button id="btn_menu" class="navbar_btn-menu">
      <Image
        loading="lazy"
        width="40"
        height="40"
        src="https://img.icons8.com/ios-filled/50/fafafa/menu--v1.png"
        alt="menu--v1"
      />
    </button>
  </div>

  <div id="menu" class="navbar_container-2 flex-center column">
    <ul class="navbar_menu flex-center column">
      <li class="navbar_links">
        <a href="/About">About Us</a>
      </li>
      <li class="navbar_links">
        <a href="/Equipment">Equipment</a>
      </li>
      <li class="navbar_links">
        <a href="/Contact">Contact</a>
      </li>
    </ul>
    <p class="btn_register">
      <Image
        loading="lazy"
        width="34"
        height="34"
        src="https://img.icons8.com/pastel-glyph/64/fafafa/user-male-circle.png"
        alt="user-male-circle"
      />
      Account
    </p>
  </div>
</nav>

<script>
  const btn_menu = document.getElementById("btn_menu");
  const menu = document.getElementById("menu");

  const openMenu = () => {
    menu.classList.toggle("active");
  };

  btn_menu.addEventListener("click", openMenu);
</script>

<style>
  /* --------- NAVBAR --------- */
  .navbar {
    max-width: 220rem;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
    position: fixed;
    margin-top: 2rem;
  }

  /* --------- NAVBAR CONTAINER 1 --------- */
  .navbar_container-1 {
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar_btn-menu {
    position: absolute;
    z-index: 999;
    right: 2rem;
  }

  /* --------- NAVBAR CONTAINER 2 --------- */
  .navbar_container-2 {
    background-color: #000000bd;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.6s;
    color: #fafafa;
    font-size: 5rem;
    gap: 7rem;
    font-weight: 900;
  }

  .navbar_container-2.active {
    transition: all 0.6s;
    height: 100%;
  }

  .navbar_menu {
    gap: 7rem;
  }

  .navbar_links a {
    color: var(--white);
  }

  .navbar_links a:hover{
    transition: all .5s;
    color: var(--yellow);
  }

  .btn_register {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #fafafa;
  }

  @media (min-width: 900px) {
    #menu {
      transition: none;
      height: 100%;
    }

    .navbar_btn-menu {
      display: none;
    }

    .navbar,
    .navbar_container-2,
    .navbar_menu {
      flex-direction: row;
    }

    .navbar {
      width: 95%;
      padding: 2rem;
    }

    .navbar_container-1 {
      width: 20%;
    }

    .navbar_container-2 {
      position: initial;
      background-color: transparent;
      font-size: 1.8rem;
      justify-content: flex-end;
      width: 80%;
      font-weight: 500;
    }

    .navbar_links p:hover {
      color: #ffebb2;
      transition: all 0.5s;
    }
  }
</style>
