---

interface Props {
    number: string;
    headTitle: string;
	title: string;
}

const { number, headTitle, title } = Astro.props;


---

<header class="title_component flex-center column">
    <div class="title_container-1">
        <p class="number">{number}</p>
        <h3 class="head_title flex-center">
            <div class="h-line"></div>
            {headTitle}
        </h3>
    </div>
    <div class="title_container-2">
        <h2>{title}</h2>
    </div>
</header>

<style>
.title_component{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    padding: 1rem;
}

.title_container-1{
    position: relative;
    width: 100%;
}
.number{
    font-size: 7rem;
    font-weight: 600;
    color: var(--yellow);
}

.head_title{
    color: var(--orange);
    gap: .5rem;
    position: absolute;
    bottom: 2rem;
    left: -.4rem;

}

.h-line{
    width: 16rem;
    height: .2rem;
    background-color: var(--orange);
}

.title_container-2 h2{
    font-size: 3.5rem;
    color: var(--yellow);
    font-weight: 900;
}

@media (min-width: 900px ) {
    
}
</style>